<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App 4</title>
</head>
<body>
    <h1>Chat app 4 check real time data</h1>
    <p id="count">Counmt</p>

    <script>
        var ws = new WebSocket("ws://127.0.0.1:8000/ws/chat4Async/")
        ws.onopen = (event) => {
            console.log("web socket connection initialize")
            ws.send("Message sending from client to server")
        }
        ws.onmessage = (event) => {
            console.log("Response from server: ", event)
            document.getElementById("count").innerHTML = `count: ${event.data}`
        }
        ws.onerror = (event) => {
            console.log("an error occoured", event)
        }
        ws.close = (event) => {
            console.log("web socket connection closed")
        }
    </script>
</body>
</html>