<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h1>Chat App</h1>
    <textarea id="chat-box" cols="50" rows="20">
        {% for chat in chats %}
            {{ chat.content }}
        {% endfor %}
    </textarea><br>
    <input type="text" id="chat-message-input" size="50"><br>
    <input type="button" value="Send" id="chat-message-submit">
    {{ group_name|json_script:"group-name" }}
    <script>
        const groupName = JSON.parse(document.getElementById('group-name').textContent)
        console.log(groupName)
        //var ws = new WebSocket("ws://127.0.0.1:8000/ws/Achat2/")
        var ws = new WebSocket(
            'ws://'+ window.location.host + '/ws/Achat2/'+groupName + '/'
        )
        ws.onopen = (event)=>{
            console.log("web socket connected >>>", event)
        }
        ws.onmessage = (event)=>{
            console.log(event.data)
            data = JSON.parse(event.data)
            console.log("Message received from server...", data.msg)
            document.querySelector("#chat-box").value += (data.msg + '\n')
        }
        ws.onerror = (event)=>{
            console.log("error occured with the websocket...", event)
        }
        ws.onclose = (event)=>{
            console.log("websocket closed...", event)
        }
        document.getElementById("chat-message-submit").onclick = (event)=>{
            const messageInDom = document.getElementById("chat-message-input")
            const message = messageInDom.value
            ws.send(JSON.stringify({
                "msg":message
            }))
            messageInDom.value = ""
        }
    </script>
</body>
</html>